<h1>Olá, rails</h1>
<ul>
  <% for article in @articles %>
    <li>
      <%= article.title%>
    </li>
  <% end %>
</ul>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<%= render 'articles/components/modal' %>
